[submodule "misc"]
	path = misc
	url = ../conf-misc
	update = merge
	branch = master
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts
	branch = master
[submodule "ergo"]
	path = ergo
	url = ../conf-ergodox-webthing
	update = merge
	branch = master
[submodule "kernel-config"]
	path = kernel-config
	url = ../conf-kernel
	update = merge
	branch = master
[submodule "nmap-vulners"]
	path = nmap-vulners
	url = https://github.com/vulnersCom/nmap-vulners
	branch = master
[submodule "notify-user"]
	path = notify-user
	url = ../conf-notify-user
	update = merge
	branch = master
[submodule "pass-audit"]
	path = pass-audit
	url = https://gitlab.com/darnir/pass-audit.git
	branch = master
[submodule "zsh"]
	path = zsh
	url = ../conf-zsh
	update = merge
	branch = master
[submodule "vim"]
	path = vim
	url = ../conf-vim
	update = merge
	branch = master
[submodule "xmonad"]
	path = xmonad
	url = ../conf-xmonad
	update = merge
	branch = master
[submodule "s6-services"]
	path = s6-services
	url = ../conf-s6-services
	update = merge
	branch = master
